* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  /* y-overflow: auto; */
}

#header {
  height: 10%;
  padding: 0 20px;
  background-color: blue;
  color: white;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

#header h1 a {
  color: white;
  text-decoration: none;
}

#header nav a {
  padding: 0 10px;
  border-right: 1px solid black;
  color: white;
  text-decoration: none;
}

#header nav button {
  padding: 0 10px;
  border: none;
  border-right: 1px solid black;
  background-color: transparent;
  color: white;
}

#footer {
  height: 5%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Main Page Styles */
#mainPage {
  height: 85%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

#mainPage img {
  grid-column: 2/6;
  grid-row: 2/12;
}

#mainPage section {
  grid-column: 6/12;
  grid-row: 2/12;
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(11, 1fr);
}

#mainPage section button {
  width: 20%;
  background-color: blue;
  border: none;
  border-radius: 5px;
}

#mainPage section button a {
  color: white;
  text-decoration: none;
}
/* Main Page Styles End */

/* Login & Signup Styles */
#loginPage,
#signupPage {
  height: 85%;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

#loginPage form,
#signupPage form {
  width: 30%;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#loginPage form label,
#signupPage form label {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
}

#loginPage form label div,
#signupPage form label div {
  width: 100%;
}

#loginPage form label input,
#signupPage form label input {
  width: 100%;
  height: 30px;
}

#loginPage form button,
#signupPage form button {
  height: 30px;
  width: 90px;
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: blue;
  color: white;
}
/* Login & Signup Styles End */
